<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Relieve You Me</title>
    </head>
    <body>

    </body>
</html>

<div class="nav-bar-home">
    <span class="logo">Relieve You Me</span>
    <span class="nav-menu">
        <a class="button" href="login">Login</a>
    </span>
</div>
<div class="header">
    <div class="header-text">
        <h1>A new way of connecting schools and&nbsp;relievers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="signup-teacher" class="button red">Sign up as a reliever</a>
        <a href="signup-school" class="button red">Sign up as a school</a>
    </div>
</div>
<div class="white-section">
    <div class="sub-header-panel">
        <h2>More about Relieve You Me</h2>
    </div>
    <div class="grid-container">
        <div class="left-panel">
            <div class="image-1"></div>
            <div class="image-1"></div>
        </div>
        <div class="right-panel">
            <h3>X simple steps</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</li>
            </ul>
        </div>
    </div>
</div>