{{< layout}}
  {{$content}}
    <style>
        
    </style>
    <div class="profile-grid">
        <div class="profile-grid__photo">
            <img class="profile-grid__photo" src="images/school-pic.jpg">
        </div>
        <div class="profile-grid__info">
            <h1 class="profile-grid__page-title">{{user.school}}</h1>
            <a href="/edit-profile"><button class="profile-grid__edit-button">Edit Profile</button></a>
            <a href="/create-event"><button class="profile-grid__save-button">Create event</button></a>
            <div class="profile-grid__about">
                <h2 class="profile-grid__section-title">About</h2>
                <p>{{user.about}}</p>
            </div>
        </div>

        <div class="profile-grid__work">
            <h2 class="profile-grid__section-title">Address</h2>
            <div class="experience">
                {{user.address.line}}
                <div class="details-grid__value">{{user.address.line1}}</div>
                <div class="details-grid__value">{{user.address.line2}}</div>
                <div class="details-grid__value">{{user.address.line3}}</div>
                <div class="details-grid__value">{{user.address.postcode}}</div>
            </div>
        </div>

        <div class="profile-grid__about">
            <h2 class="profile-grid__section-title">Contact information</h2>
            <div class="details-grid">
                <div class="details-grid__label">Name:</div>
                <div class="details-grid__value">{{user.contact.name}}</div> 
                <div class="details-grid__label">Phone:</div>
                <div class="details-grid__value">{{user.contact.phoneNumber}}</div>
                <div class="details-grid__label">Email:</div>
                <div class="details-grid__value">{{user.contact.email}}</div>
            </div>
        </div>
    </div>
  {{/content}}
{{/layout}}
  