{{< layout}}
  {{$content}}
    <h1 class="calendar__h1--inline-block">Feburuary 2018</h1>
    <a href="/edit-calendar"><button class="profile-grid__edit-button">Edit calendar</button></a>

    <div class="calendar-header">
        {{#days}}
            <div class="calendar-header__title">{{.}}</div>
        {{/days}}
    </div>
    <div class="calendar">
        {{#calendarData}}
        {{#event._id}}<a class="calendar__link" href="event/{{event._id}}">{{/event._id}}
            <div class="calendar__day
            {{#date.placeholder}}calendar__day--placeholder{{/date.placeholder}} 
            {{#availability.free}}calendar__day--free{{/availability.free}}
            {{#availability.morning}}calendar__day--morning{{/availability.morning}}
            {{#availability.afternoon}}calendar__day--afternoon{{/availability.afternoon}}
            {{#availability.full}}calendar__day--full{{/availability.full}}
            {{#availability.unavailable}}calendar__day--unavailable{{/availability.unavailable}}
            {{#date.today}}calendar__day--today{{/date.today}}
            ">
                <div class="day__date-wrapper">
                    <div class="day__day-num">{{date.day-num}}</div>
                    <div class="day__time">{{event.time}}
                        {{#availability.unavailable}}Unavailable{{/availability.unavailable}}
                        {{#availability.free}}Available{{/availability.free}}</div>
                </div>
                <div class="day-info">
                    <div class="day-info__school">{{event.school}}</div>
                    <div class="day-info__detail">{{event.year}}</div>
                    <div class="day-info__detail">{{event.role}}</div>
                </div>
                
            </div>
        {{#event._id}}</a>{{/event._id}}
        {{/calendarData}}
    </div>

  {{/content}}
{{/layout}}
  